.banner{
    background-image: url('../../../assets/banner.png');
    height: 836px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    text-align: center;
    color: white;
    margin-top: 0px;
    font-weight: 700;
    font-size: 4em;
}
.welcome{
    padding-top: 350px;
}
.msg{
    font-size: 4em;
    color: white;
    font-weight: 700;
}
.form1 {
    height: 500px;
    width: 450px;
    margin-top: 180px;
    border-radius: 18px;
  }
.form-field{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}
.logTitle{
    text-align: center;
    color: #1b80c3;
    font-weight: 550;
}